#container{
    margin-top: 15vh;
}

#alignDiv{
    flex: 1;
    display: flex;
    align-items: center;
}

#coursesTitle{
    font-size: 25px;
    font-weight: 600;

}



#item{
    /* width: 12%; */
    font-weight: 500;
    font-size: large;
    /* padding-top: 1%; */
}

#popOverText{
    font-size: large;
    font-weight: 700;
}

.rowSpacing{
    margin-top: 5vh;
}

.listGroupText{
    font-size: large;
}

.screenOptions{
    margin-top: 5px;
}

